@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EmployeeUpsertVM
<h1>add employee</h1>
 
<div class="mb-3">
    <label asp-for="FirstName" class="form-label"> </label>
    <input asp-for="FirstName" class="form-control">
</div>
<div class="mb-3">
    <label asp-for="LastName" class="form-label"> </label>
    <input asp-for="LastName" class="form-control">
</div>
<div class="mb-3">
    <label asp-for="Salary" class="form-label"> </label>
    <input asp-for="Salary" class="form-control">
</div>
<div class="mb-3">
    <label asp-for="JoinDate" class="form-label"> </label>
    <input asp-for="JoinDate" class="form-control">
</div>
<div class="mb-3">
    <label asp-for="MgrNo" class="form-label"> </label>
    <input asp-for="MgrNo" class="form-control">
</div>
<div class="mb-3">
    <label asp-for="DeptID" class="form-label"> </label>
    <input asp-for="DeptID" class="form-control">
</div>

<div class="mb-3">
<select class="form-select" aria-label="Manager List">
    <option > --Manager List ??? </option>
    <option value="101">Kalay</option>
        <option selected value="202">Tamil</option>
    <option value="303">Veera</option>
</select>
</div>


<div class="mb-3">
    <select asp-for="MgrNo" class="form-select" aria-label="Student List">
        @foreach(var v1 in Model.std)
        {
        <option value="@v1.id">@v1.Name</option>
        }
    </select>
</div>

<div class="mb-3">
    <select asp-for="MgrNo" asp-items="@Model.Managers" class="form-control border shardow">        
    </select>
</div>